/*
Angular limite les styles d'un component au component même : 
les enfants d'un component n'héritent pas des styles de leur parent. 
Vous allez donc avoir des styles et des classes qui sont encapsulés. 
La seule exception est le fichier de styles principal  styles.scss  
qui sert justement à déclarer des styles et des classes globaux.
*/
.face-snap-card {
  box-sizing: border-box;
  width: 50%;
  margin: 20px auto;
  padding: 10px 30px;
  box-shadow: lightgray 4px 4px 20px;
  img {
    width: 100%;
  }
  h2 {
    margin-bottom: 0;
  }
  p {
    font-weight: 300;
    font-size: 16px;
  }

  span {
    position: absolute;
    margin-top: 5px;
    width: 120px;
  }
}

button {
  box-sizing: border-box;
  padding: 5px 20px 20px 20px;
  border: none;
  margin-right: 20px;
  box-shadow: lightgray 3px 3px 3px;
  outline: none;
  font-size: 17px;
  font-weight: 500;
}
