<!--
    La directive  [ngClass]  permet d'ajouter dynamiquement des classes à des éléments HTML.
    [ngClass] prend un objet en argument où les clés sont des noms de classe CSS, 
    et les valeurs sont les conditions selon lesquelles les classes doivent être appliquées.
-->
<div class="face-snap-card ">
<h2>{{faceSnap.title  | uppercase}}</h2>
<p>{{faceSnap.description}}</p>
<button mat-icon-button color="primary" aria-label="Afficher le détail" (click)="onViewFaceSnap()">
  <mat-icon>expand_more</mat-icon> <span>Afficher</span>
</button>   
</div>